*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#kutu1{
    height: 150px;
    width: 150px;
    background-color: #a8a82e;
    color: white;
    margin-right: 10px;
    float: left;
}

#kutu2{
    height: 150px;
    width: 150px;
    background-color: aquamarine;
    margin-right: 10px;
    float: left;
}

#kutu3{
    height: 150px;
    width: 150px;
    background-color: greenyellow;
    margin-right: 10px;
    float: left;
}

#kutu4{
    height: 150px;
    width: 150px;
    background-color: black;
    float: left;
}

#kutu5{
    height: 80px;
    width: 630px;
    background-color: blueviolet;
    margin-top: 10px;
    clear: both;
    float: left;
}
