.wrapper
{
    /* 
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    */

    margin : 50px 100px 50px 100px; /* saat yönü top right buttom left*/
 
    /*
    margin: 50px 100px; /* x ve y olarak 

    margin: 50px; /* 4 değer için tek veri 
    */

    /*
    border-width: 4px;
    border-color: blue;
    border-style: dashed;
    */

    border : 2px solid orangered;

    /*
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    */
    
    padding: 20px;
}