body,h1,ul,li
{
    margin: 0;
    padding: 0;
}

input[type=text]
{
    width: 50%;
    padding: 12px 20px;
    margin: 10px 25%;
    box-sizing: border-box;
    border: 3px solid blueviolet;
    border-radius: 4px;
    resize: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

textarea {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    display: block;
    width: 50%;
    height: 250px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid blueviolet;
    border-radius: 4px;
    resize: none;
    margin: 10px 25%;
    overflow-y: auto; /* Dikey kaydırma çubuğunu göster */
}

button 
{
    width: 250px;
    margin: 10px 37%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: 2px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

button:hover 
{
    background-color: blueviolet;
    border-color: #0056b3;
}

#link
{
    color: white;
    text-decoration: none;
    display: inline-block;
}

h2
{
    color: blueviolet;
}

#link:hover
{
    color: blueviolet;
}

body
{

    background: url('images/ornek.jpg') black;
    font-family: sans-serif;
}

.sayfa
{

    width: 1000px;
    margin: 50px auto;
}

.orta
{
    margin-top: 15px;
    background: #333;
}

.orta-sol
{
    margin-top: 25px;
    float:left;
    width: 450px;
}

.orta-sag
{
    float: left;
    margin-bottom: 15px;
    margin-left: 10px;
    width: 500px;
    color:#bbb;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.orta-ust
{
    float:left;
    margin-top: 40px;
    margin-left: 400px;
    width: 300px;
}

.orta-alt
{
    margin-top: 20px;
    float: left;
    width: 1000px;
    color: #bbb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-display: inherit;
}

.orta-alt img
{
    border: 3px solid blueviolet; /* Çerçevenin rengi ve kalınlığı */
    padding: 10px; /* Çerçeve ile resim arasındaki boşluk */
    width: auto;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 2px;
}

.alt
{
   background: #555;
   padding: 20px;
   text-align: center;
   color: #fff;
}

.alt a
{
    color:#fff;
    text-decoration: none;
}

.temizle
{
    clear:both;
}

.baslik
{
    float: left;
    font-size: 21px;
    color:white;
    text-decoration: none;
}

#menu
{
    float:right;
    list-style: none;
    margin-top: 10px;
}

#menu li
{
    float:left;
}

#menu li a
{
    color:white;
    text-decoration: none;
    margin: 5px;
    padding: 10px 20px;
}

#menu a:hover,.aktif
{
    background-color: blueviolet;
    border-radius: 15px;
}

details p
{
    margin: 0px;
    padding: 10px;
    line-height: 20px;
}

details summary
{
    color: white;
    font-weight: bold;
    background-color: blueviolet;
}




